<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <h1>Ndless Apps</h1>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <div style="text-align: center; font-family: Arial, sans-serif;">
    <p>Copyright 2023, Tate Wilhelm; All Rights Reserved.</p>
    <p>But let's be honest here, you can mess around with the code if you want. IDC.</p>
</div>
</body>
</html>

<script src="/js/filter.js"></script>
